<template name="hello">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-typography--text-center">
        <img class="logo" src="/img/logo.png" alt="SEANAPS">
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col">
      <div class="scan-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text mdl-typography--text-right">{{logs}}</h2>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect syncNow">
            Synchronise your wristband
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
